@using TrainingGuides.Web.Features.Header
@using TrainingGuides.Web.Features.DataProtection.ViewComponents.TrackingConsent
@using TrainingGuides.Web.Features.Activities.ViewComponents.CustomActivityScripts
@using TrainingGuides.Web.Features.Activities.ViewComponents.TrackingScripts
@using TrainingGuides.Web.Features.Html.ViewComponents
@using TrainingGuides.Web.Features.Shared.Services;
@using Kentico.Activities.Web.Mvc

@{
    var title = StringLocalizer["Kentico training guides"];
}
<!DOCTYPE html>

<html>
<head id="head">

    <title>@title</title>

    <meta data-hid="apple-mobile-web-app-title" name="apple-mobile-web-app-title" content="@title">
    <meta data-hid="mobile-web-app-capable" name="mobile-web-app-capable" content="yes">
    <meta data-hid="author" name="author" content="Kentico software s.r.o.">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta name="msapplication-TileColor" content="#da532c">
    <vc:code-snippets code-snippet-type="@CodeSnippetType.Metadata" add-label-comments="true"/>

    <link rel="icon" href="~/content/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/content/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/content/images/favicon-16x16.png">
    <link rel="mask-icon" href="~/content/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="apple-touch-icon" sizes="180x180" href="~/content/images/apple-touch-icon.png">
    <link rel="manifest" href="~/content/images/site.webmanifest">
    
    <link rel="stylesheet" type="text/css" href="~/assets/css/styles.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <script type="text/javascript">
        function RedirectOnAuthenticationSuccess(result) {
            if (result.success) {
                window.location.href = result.redirectUrl;
            }
        }
    </script>
    <page-builder-styles/>
    <vc:code-snippets code-snippet-type="@CodeSnippetType.CSS" />
    
    <vc:custom-code location="Head" />

    <vc:tracking-scripts />
</head>
<body class="t-default">
    <div>
        <vc:header />       
        <vc:tracking-consent />
        <div class="content-wrapper container">
            @RenderBody()
        </div>
        <footer class="c-footer">
            <div class="container-xl">
                <div class="row c-divider">
                    <div class="col-md-8">
                        <div class="c-circle c-footer_circle">
                        </div>
                        <div class="row mt-5 c-footer-grid">
                            <div class="col-md-3 grid-item">
                                <ul class="c-list-footer">
                                    <li class="c-list-footer_item"><a href="https://www.kentico.com/" target="_blank"><h2 class="">kentico.com</h2></a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 grid-item">
                                <ul class="c-list-footer">
                                    <li class="c-list-footer_item"><a href="https://www.kentico.com/platforms/xperience-by-kentico" target="_blank"><h2 class="">@StringLocalizer["Xperience"]</h2></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <strong>@StringLocalizer["Xperience by Kentico training guide samples."]</strong>
            </div>
        </footer>
    </div>

    <page-builder-scripts/>

    <script src="~/assets/jquery/jquery-3.6.4.min.js"></script>
    <script src="~/assets/jquery/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/main.min.js?v=1.0.0"></script>

    <vc:authentication-scripts />

    <vc:custom-activity-scripts/>
    <vc:code-snippets code-snippet-type="@CodeSnippetType.Javascript" />
</body>
</html>
