@using TrainingGuides.Web

@model TrainingGuides.Web.Features.Articles.Widgets.FeaturedArticle.FeaturedArticleWidgetViewModel?

@if (Model is null || Model.IsMisconfigured || Model.Article is null )
{
    <tg-page-builder-content>
        <div class="c-card md bg-1 u-border-02 text-center">
            <h3>Featured article</h3>
            <p>No valid article selected</p>
        </div>    
    </tg-page-builder-content>
}
else
{
    <div class="c-card md bg-1 u-border-02 text-center mt-4">
        @if (Model.Article.TeaserImage != null)
        {
            <img src="@Url.Content(Model.Article.TeaserImage.FilePath)" alt="@Model.Article.TeaserImage.AltText" class="u-border-02 img-fluid" />
        }
        <tg-date date="@Model.Article.CreatedOn"/>
        <h2 class="h4"><a class="c-link basic" href="@Model.Article.Url">@Model.Article.Title</a></h2>
    </div>
}
