@using TrainingGuides.Web.Features.Membership.Widgets.ResetPassword

@model ResetPasswordSuccessViewModel

<div><span>@Model.SuccessText</span></div>
<div class="p-2"><a href="@Model.SignInUrl" class="@ResetPasswordSuccessViewModel.LINK_STYLES">@Model.SignInLinkText</a></div>
<div class="p-2"><a href="@Model.BaseUrl" class="@ResetPasswordSuccessViewModel.LINK_STYLES">@Model.HomeLinkText</a></div>
